@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.container{
    max-width: 1280px;
    margin: 0 auto;
}

.header{
    background: #dedede;
    box-shadow: 0px 4px 9px rgba(255, 162, 153, 0.2);
}

.header-inner-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.header .menu-wrapper{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .menu-wrapper .menu-item-wrapper .menu-item{
    color: #000000;
    font-size: 20px;
    margin-left: 50px;
    text-decoration: none;
}

.header .menu-wrapper .menu-item-wrapper .menu-item.active{
    color: #12CAD6;
}

.header .menu-wrapper .menu-item-wrapper .menu-item.register{
    background-color: #FFA299;
    color: #ffffff;
    border-radius: 5px;
    padding: 0 10px;
}

/* main wrapper */
.main-wrapper{
    display: flex;
}

.main-wrapper .left-sidebar{
    width: 213px;
    margin-right: 33px;
}

.main-wrapper .main-content{
    width: calc(100% - 571px);
}

.main-wrapper .right-sidebar{
    width: 292px;
    margin-left: 33px;
}

/* left menu */

.left-sidebar .left-side-menu-section{
    margin-bottom: 42px;
}

.left-sidebar .left-side-menu-section .list-heading{
    color: #12CAD6;
    font-weight: 600;
    font-size: 20px;
    margin-bottom:10px;
}

.left-sidebar .left-side-menu-section .menu-wrapper {
    list-style: none;
    margin: 0;
    padding: 0;   
}

.left-sidebar .left-side-menu-section .menu-wrapper .menu-item-wrapper .menu-item{
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}
